html, body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  display: flex;
  background-color: black;
  padding: 5px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
nav ul {
  display: flex;
}
nav li{
  padding-left: 20px;
  list-style: none;
}
nav li a {
  color: white;
  text-decoration: none;
}
nav li a:hover{
  color: black;
}
.sectionTitle{
  text-align: center;
}
/* main section  */
  /* background-image: url(./images/mern.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
.mainSection {
  text-align: center;
  padding: 10%; 
  /* background-color: #0F0F0F; */
  background-image: url("./images/code.png");
  color: white;
}
.mainSection h3 {
  color: darkred;
}
.mainSection button {
  padding: 7px;
  border: solid 1px;
  border-color: white;
  color: white;
  background-color:  #0F0F0F;
}
.aboutMe{
  justify-content: space-around;
  display: flex;
}
.profileImage{
  border-radius: 50%;
}

.cards{
  display: flex;
  padding: 5%;
  justify-content: space-around;
}
.logoIcons{
  height: 150px;;
}

.infoSection{
  padding-left: 5rem;
  padding-right: 5rem;
}
.profileSection{
  padding-left: 3rem;
  padding-right: 3rem;
}
form{
  display: block;
  padding: 2em;
}

input[type=submit] {
  font-size: 1em;
  width: 100%;
  background-color: #0F0F0F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #020202;
}

footer{
  padding-top: 0.1em;
  color: white;
  text-align: center;
  height: 2%;
  background-color: #0f0f0f;
}