html, body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
nav{
  display: flex;
  background-color: #013243;
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li{
  padding-left: 20px;
  list-style: none;
}
nav li a {
  color: white;
  text-decoration: none;
}
nav li a:hover{
  color: black;
}

